---
import { getEntry, render } from "astro:content";
import MainLayout from "../../layout/MainLayout.astro";
import Container from "../../components/ui/Container.astro";
import WorkshopForm from "../../components/WorkshopForm.astro";
import { Image } from "astro:assets";

const { slug } = Astro.params;

if (!slug) {
  throw new Error("Missing workshop slug");
}

const workshop = await getEntry("workshops", slug);

if (!workshop) {
  return new Response("Workshop not found", {
    status: 404,
  });
}

const { Content } = await render(workshop);
---

<head>
  <script
    src="https://challenges.cloudflare.com/turnstile/v0/api.js"
    async
    defer></script>
</head>

<MainLayout title={workshop.data.title}>
  <Container>
    <div class="p-4 flex flex-col items-center justify-center">
      <h1 class="font-bold text-4xl mb-10">{workshop.data.title}</h1>

      <Image
        src={workshop.data.hires}
        alt={workshop.data.title}
        class="aspect-video w-4xl object-cover"
      />

      <div class="p-4">
        <p>{workshop.data.description}</p>
      </div>
    </div>

    <div
      class="w-full md:w-2/3 mx-auto flex flex-col shadow-xs rounded-lg overflow-hidden mb-8"
    >
      <table class="table-fixed">
        <tbody>
          <tr
            class="odd:bg-gray-900 even:bg-neutral-secondary-soft border-b border-gray-700"
          >
            <td class="px-3 py-2"><strong>Date</strong></td>
            <td>: {workshop.data.date}</td>
          </tr>
          <tr
            class="odd:bg-gray-900 even:bg-neutral-secondary-soft border-b border-gray-700"
          >
            <td class="px-3 py-2"><strong>Location</strong></td>
            <td>: {workshop.data.location}</td>
          </tr>
          <tr
            class="odd:bg-gray-900 even:bg-neutral-secondary-soft border-b border-gray-700"
          >
            <td class="px-3 py-2"><strong>Price</strong></td>
            <td>: ${workshop.data.price}</td>
          </tr>
          <tr
            class="odd:bg-gray-900 even:bg-neutral-secondary-soft border-b border-gray-700"
          >
            <td class="px-3 py-2"><strong>Seats</strong></td>
            <td>: {workshop.data.seats}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr class="border-gray-500 mb-8" />

    <div
      class="w-full md:w-2/3 mx-auto flex flex-col shadow-xs rounded-lg overflow-hidden mb-8"
    >
      <table class="table-fixed">
        <thead>
          <tr>
            <th class="px-3 py-2">Included</th>
            <th class="px-3 py-2">Not Included</th>
          </tr>
          <tbody>
            <tr>
              <td class="px-3 py-2">
                <ul class="list-disc list-inside">
                  {workshop.data.included.map((item) => <li>{item}</li>)}
                </ul>
              </td>
              <td class="px-3 py-2">
                <ul class="list-disc list-inside">
                  {workshop.data.notIncluded.map((item) => <li>{item}</li>)}
                </ul>
              </td>
            </tr>
          </tbody></thead
        >
      </table>
    </div>

    <hr class="border-gray-500" />
    <div class="workshop-content"><Content /></div>
    <hr />
    <div class="py-8 items-center flex-col mx-auto flex gap-4 justify-center">
      <WorkshopForm
        workshopSlug={workshop.id}
        workshopTitle={workshop.data.title}
      />
    </div>
  </Container>
</MainLayout>
